body{
	background-color: #ADD8E6
	}



#header {
    background-color: #08415C;
	border: 5px solid #F1BF98;
	color: #F1BF98;
	}

#footer {
	font-family: Arial, sans-serif;
	text-align: center;
	line-height: 8px;
	margin-top: 40px;
	background-color: #08415C;
	border: 5px solid #F1BF98;
	color: #F1BF98;
	}
	
#restaurantName {
	color: #F1BF98;
	text-align: center;
	font-family: Comic Sans MS, cursive;
	}

#navigation {
	font-family: Arial, sans-serif;
	margin-bottom: 5px;
	}

a {
	color: #FFFFFF;
	padding: 10px;
	}

a:hover {
	font-weight: bold;
	}

a:active {
	text-decoration: none;
	}

a:visited {
	color: #CCCBCB;
	}
	

#main{
	font-family: Arial, sans-serif;
	margin-top: 40px; 
	margin-bottom: 40px;
	}

hr {
	border-top: solid 2px;
	border-bottom: solid 1px;
    border-color: #F1BF98;
	height: 2px;
    }

